<br><br>
<ul class="list-group list-group-flush pb-5 mb-5">
    <li class="list-group-item px-0">
        <h4 class="circular-bold">
            Specifications
        </h4>
    </li>
    <li class="list-group-item px-0">
        <p class="float-left circular-medium my-2">
            Dimensions
        </p>
        <p class="float-right my-2 circular-book text-secondary">
            76.8 x 43.8 x 34.7 mm (earbuds and charging case)
        </p>
    </li>
    <li class="list-group-item px-0">
        <p class="float-left circular-medium my-2">
            USB Standard
        </p>
        <p class="float-right my-2 circular-book text-secondary">
            USB-C
        </p>
    </li>
    <li class="list-group-item px-0">
        <p class="float-left circular-medium my-2">
            Power supply
        </p>
        <p class="float-right my-2 circular-book text-secondary">
            Sennheiser 7mm dynamic driver
        </p>
    </li>
    <li class="list-group-item px-0">
        <p class="float-left circular-medium my-2">
            Frequency response (Microphone)
        </p>
        <p class="float-right my-2 circular-book text-secondary">
            100 Hz to 10 kHz
        </p>
    </li>
    <li class="list-group-item px-0">
        <p class="float-left circular-medium my-2">
            Frequency response
        </p>
        <p class="float-right my-2 circular-book text-secondary">
            5 - 21,000 Hz
        </p>
    </li>
    <li class="list-group-item px-0">
        <p class="float-left circular-medium my-2">
            Noise cancellation
        </p>
        <p class="float-right my-2 circular-book text-secondary">
            Single-Mic ANC per earbud side
        </p>
    </li>
    <li class="list-group-item px-0"></li>
</ul>
<br><br><br>