<div class="mt-5 mt-lg-0">
    <span class="text-danger circular-medium">NEW RELEASE</span>
    <h1 class="circular-bold mt-3 mb-0">
        {{product.productName}}
    </h1>
    <p class="text-secondary circular-book font-sz-14 my-0">
        Earbuds that put sound first
    </p>
    <br>
    <br>
    <span class="text-secondary circular-book">STARTING AT</span>
    <h2 class="circular-bold my-0">
        ${{product.unitPrice}}
    </h2>
    <br>
    <br>
    <nav class="mb-2">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-view-tab" data-toggle="tab" href="#nav-view" role="tab" aria-controls="nav-view" aria-selected="true">Overview</a>
            <a class="nav-link" id="nav-feature-tab" data-toggle="tab" href="#nav-feature" role="tab" aria-controls="nav-feature" aria-selected="false">Features</a>
            <a class="nav-link" id="nav-box-tab" data-toggle="tab" href="#nav-box" role="tab" aria-controls="nav-box" aria-selected="false">What's in the box</a>
        </div>
    </nav>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="nav-view" role="tabpanel" aria-labelledby="nav-view-tab">
            <p class="circular-book text-secondary mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ad quisquam quasi doloremque veniam, repellendus suscipit laborum, 
                obcaecati sed possimus alias! Dolor minus itaque provident totam odit corporis 
                inventore adipisci in ea, hic mollitia numquam magnam aspernatur molestiae 
                fuga molestias vero soluta saepe suscipit pariatur repudiandae. 
                Quibusdam nulla sequi doloribus.
            </p>
        </div>
        <div class="tab-pane fade" id="nav-feature" role="tabpanel" aria-labelledby="nav-feature-tab">
            <p class="circular-book text-secondary mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ad quisquam quasi doloremque veniam, repellendus suscipit laborum, 
                obcaecati sed possimus alias! Dolor minus itaque provident totam odit corporis 
                inventore adipisci in ea, hic mollitia numquam magnam aspernatur molestiae 
                fuga molestias vero soluta saepe suscipit pariatur repudiandae. 
                Quibusdam nulla sequi doloribus.
            </p>
        </div>
        <div class="tab-pane fade" id="nav-box" role="tabpanel" aria-labelledby="nav-box-tab">
            <p class="circular-book text-secondary mb-0">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquam ad quisquam quasi doloremque veniam, repellendus suscipit laborum, 
                obcaecati sed possimus alias! Dolor minus itaque provident totam odit corporis 
                inventore adipisci in ea, hic mollitia numquam magnam aspernatur molestiae 
                fuga molestias vero soluta saepe suscipit pariatur repudiandae. 
                Quibusdam nulla sequi doloribus.
            </p>
        </div>
    </div>
</div>